body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin: 0;
  color: #434455;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 0.1s ease;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.button {
  background-color: #404bbf;
}

a {
  text-decoration: none;
  color: #434455;
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link.active {
  color: #4d5ae5;
  position: relative;
}

.nav-link.active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: #434455;
  border-radius: 2px;
}

a[href^="mailto"],
a[href^="tel"] {
  color: #434455;
}

a[href^="mailto"]:hover,
a[href^="tel"]:hover {
  color: #4d5ae5;
}
